<div class="search position-relative d-flex align-items-center">
  <div class="d-flex align-items-center w-100 position-relative">
    <input
      #txtSearchInput
      class="bg-shadow1 white n1"
      type="text"
      placeholder="Search"
      style="flex: 1"
      (input)="onKeyPress(txtSearchInput.value)"
      (blur)="onBlur()"
      (focus)="onFocus()"
    />
    <!-- <shared-loading-spinner *ngIf="onLoad" class="position-absolute spinner"></shared-loading-spinner> -->
  </div>

  <div *ngIf="optionsVisible" class="options bg-shadow1 position-absolute">
    <div *ngIf="onLoad" class="loading d-flex align-items-center">
      Buscando
      <shared-loading-spinner></shared-loading-spinner>
    </div>
    <ng-container *ngIf="!onLoad">
      <div
        class="option"
        *ngFor="let game of options"
        (click)="txtSearchInput.value = ''; onSelectedOption(game.id)"
      >
        {{ game.name }}
      </div>
    </ng-container>

    <div *ngIf="!options.length && txtSearchInput.value && !onLoad" class="option">
      No Hay opciones
    </div>
  </div>
</div>
